/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#paper {
  width: 940px;
  height: 1200px;
}

#toolbox {
  margin-bottom: 18px;
}

.newspaper__page {
  background: #f9f7f1;
  width: 300px;
  height: 400px;
}

.stacked {
  background: #f9f7f1;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
  padding: 30px;
}

a.shinyButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

a.shinyButton:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
  a.shinyButton {
    display: block;
    margin: 0.2em auto;
  }
}

.shinyRed {
  background-color: #f14e4e;
}

.shinyYellow {
  background-color: #f1bb4e;
}

.shinyLime {
  background-color: #84f14e;
}

.shinyGreen {
  background-color: #4ef18f;
}

.shinyBlue {
  background-color: #4e9af1;
}

.shinyPurple {
  background-color: #9a4ef1
}

.shinyPink {
  background-color: #f14ebd
}