/* CSS files add styling rules to your content */
html, body { height: 100%; }


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#paper {
  width: 78%;
  height: 100%;
  margin-left: 20%;
  overflow: visible;
}

#toolbox {
  margin-bottom: 18px;
  padding-bottom: 10px;
  float: left;
  margin-right: 2%;
  min-height: 100%;
  display: block;
  /* position: absolute; */
  width: 18%;
  left: 34px;
  border-width: 2px 2px 0 0px;
  border-color: black #f2e3e3 black black;
  border-style: solid;
}

.newspaper__page {
  background: #f9f7f1;
  font-size: 5px;
  width: 300px;
  height: 400px;
  float: left;
  margin-bottom: 16px;
  margin-right: 10px;
  overflow: hidden;
}

.newspaper__page.draggable-container--over.valid {
  background: #d5ffe6;
}

.newspaper__page.draggable-container--over.invalid {
  background: #ffd5d5;
}

.stacked {
  background: #f9f7f1;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

button.shinyButton {
  display:inline-block;
   padding:0.3em 1.2em;
   margin:0 0.1em 0.1em 0;
   border:0.16em solid rgba(255,255,255,0);
   border-radius:2em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
   text-align:center;
   transition: all 0.2s;
}

button.shinyButton:hover{
   border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em) {
 button.shinyButton{
   display:block;
   margin:0.2em auto;
 }
}

.shinyRed { background-color:#f14e4e }
.shinyYellow { background-color:#f1bb4e }
.shinyLime { background-color:#84f14e }
.shinyGreen { background-color:#4ef18f }
.shinyBlue { background-color:#4e9af1 }
.shinyPurple { background-color:#9a4ef1 }
.shinyPink { background-color:#f14ebd }


.page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(84px, 138px);
  grid-auto-flow: dense;
  grid-template-rows: repeat(3, 1fr);
}


.story {
  text-align: justify;
  overflow: hidden;
}

.story-default {
    grid-column: auto / span 2;
}

.story-skinny {
  grid-column: auto / span 1;  
  grid-row: auto / span 2;
}

.story-wide {
  grid-column: auto / span 3;  
}

.draggable-mirror.story {
    width: 154px;
    height: 152px;  
}

#toolbox_grid > .story {
    margin: 1px;
  margin-top: 10px;
    float: left;
  padding: 1px;
    background: #f9f7f1;
    font-size: 5px;
    border: 1px #ffc900 dashed;
}

.ad-small-square {
  grid-column: auto / span 1;  
  grid-row: auto / span 1;
  background: #f2e3e3;
}

.ad-full-width {
  grid-column: auto / span 3;  
  grid-row: auto / span 1;
  background: #b5f0e3; 
}

.ad-full-page {
  grid-column: auto / span 3;  
  grid-row: auto / span 3;
  background: #a76c49; 
}

.ad-full-height {
  grid-column: auto / span 1;  
  grid-row: auto / span 3;
  background: #b5f0e3; 
}

.ad-three-quarter {
  grid-column: auto / span 2;  
  grid-row: auto / span 1;
  background: #f5dac6; 
}

.ad-three-quarter-column {
  grid-column: auto / span 1;  
  grid-row: auto / span 2;
  background: #f5dac6; 
}

.draggable-mirror.ad {
    height: 100px;
      width: 102px;
}

.page-grid > .ad {
    font-size: 20px;
    text-align: center;
    padding: 20px;
  color: transparent;
}

#toolbox_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
    grid-auto-columns: 80px;
    min-height: 200px
}

#toolbox_grid > .ad {
    margin: 1px;
  margin-top: 10px;
    float: left;
  padding: 1px;
    background: #f9f7f1;
    font-size: 20px;
    border: 1px #9a4ef1 solid;
  text-align: center;
vertical-align: middle;
    overflow: hidden;
    padding-top: 15px;

}